*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #000000;
}
main form{
    width: 100%;
    min-height: 100vh;
    
    /*display: flex;*/
    justify-content: center;

    background: linear-gradient(to top,hsl(189, 99%, 55%), #0166e1);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25);
}
.Labels{
    margin-top: 0%;
}
input{
    width: 90%;
    height: 30px;
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 12px;

    font-size: 16px;
    color: #312e42;

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
#lbNome{
    margin-left: 2%;
    font-size: large;
}
#lbSenha{
    padding-left: 100px;
}
#lbEmail{
    margin-left: 110px;
}
.scCadastro{
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;

    background-color: none;

    

    display: flex;
    /*background-color: #f3e5e5;*/
    border-radius: 10px;
}
.scCadastro div{
    margin-left: 1%;
}
.scCadastro .organização{ 
    margin-top: 0.8%;
}
.organização .btnSubmit{
    margin-top: 1.5%;
}
.scCadastro #eye{
    display: none;
    width: 20px;
}
.scCadastro #eyeSlash{
    width: 20px;
}
.scCadastro i {
    color: #000000;
    cursor: pointer;
}