*{
    margin: 0;
}
html, body{
    height: 100%;
}
body{
    width: 100%;
    background: linear-gradient(to top,hsl(189, 99%, 55%), #0166e1);
}
header{
    text-align: center;
    display: inline-block;
}
hr{
    width: 98%;
    margin-left: 1%;
    align-items: center;
}
main{
    width: 100%; 
    margin: 1%;
}

.form1, .form2{
    margin-left: 3%;
    background-color: #353249;
    width: 40%;
    height: 500px;
    display: inline-table ;
    border-radius: 20px;
    /*border-style: inset;*/
    border-color: black;
}
section h1{
    text-align: center;
    color: #bcc4d1;
}
section label{
    padding-left: 10%;
    color: #bcc4d1;
}
.form1 .lbs, .inp{
    display: inline-block;
    width: 30%;
    padding-left: 7.5%;
}
.form2 .Dps{
    display: inline-block;
    width: 30%;
    padding-left: 7.5%;
}

